.myGigs {
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    padding: 50px 0px;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 75px;

      button {
        background-color: #1dbf73;
        color: white;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
      }
    }

    table {
      width: 90%;
      margin: 0px 75px;
      tr {
        height: 50px;
        th{
            text-align: left;
        }
        td {
          .img {
            width: 50px;
            height: 25px;
            object-fit: cover;
          }
          .delete {
            width: 20px;
            cursor: pointer;
          }
        }

        &:nth-child(even){
            background-color: #1dbf730f;
        }
      }
    }
  }
}
