.messages {
    display: flex;
    justify-content: center;

    .container {
        width: 1400px;
        padding: 50px 0px;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0px 75px;
        }

        table {
            width: 90%;
            margin: 0px 75px;
            tr {
                height: 100px;

                th {
                    text-align: left;
                }

                td {
                    padding: 10px;
                    &:first-child{
                        font-weight: 500;
                        width: 300px;
                    }
                    &:nth-child(2){
                        color: gray;
                        width: 500px;
                    }
                    &:nth-child(3) {
                        color: gray;
                    }
                }
                button{
                    background-color: #1dbf73;
                    color: white;
                    border: none;
                    padding: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                }

                &.active {
                    background-color: #23ba731f;
                }
            }
        }
    }
}